@font-face {
  font-family: "FontAwesome";
  src: url("../assets/fonts/FontAwesome.eot");
  src: url("../assets/fonts/FontAwesome.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/FontAwesome.woff2") format("woff2"),
    url("../assets/fonts/FontAwesome.woff") format("woff"),
    url("../assets/fonts/FontAwesome.ttf") format("truetype"),
    url("../assets/fonts/FontAwesome.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("../assets/fonts/Pe-icon-7-stroke.eot");
  src: url("../assets/fonts/Pe-icon-7-stroke.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Pe-icon-7-stroke.woff2") format("woff2"),
    url("../assets/fonts/Pe-icon-7-stroke.woff") format("woff"),
    url("../assets/fonts/Pe-icon-7-stroke.ttf") format("truetype"),
    url("../assets/fonts/Pe-icon-7-stroke.svg#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal;
}

